{% load static %}


{% block css_files %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'js/script.js' %}" type="text/javascript"></script>
{% endblock  %}

<script type="text/javascript">
/// some script

// jquery ready start
$(document).ready(function() {
	// jQuery code

});
// jquery end
</script>

{% if messages %}
    {% for message in messages %}
    <div id="message" class="container">
        <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden ="true">
                    &times;
                </span>
                
            </button>

            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error: {% endif %}
            {{ message }}
        </div>
    </div>
    {% endfor %}

{% endif %}
